@charset "UTF-8";
/* CSS Document */


/*
----------------------------------
			STRUCTURE
----------------------------------
*/

body#invite{
	background-image:none !important;
	background-color:#fff;
	margin:0;
	padding:0;
	font-family:Verdana, Geneva, sans-serif;}
	

body#invite #container{
	width:935px;
	margin:auto;
	overflow:auto;
	color:#6D6E71;}
	
	
body#invite #banner_home{
	background: url("bg_inv_banner.png") no-repeat;
	width:935px;
	height:468px;
	display:block;
	text-indent:-9999px;
	margin: 26px 0 0 0;}
	
body#invite a{
	color:#6D6E71;
	text-decoration:none;}
	
body#invite a:hover{
	color:#306378;
	}
	
.left{
	float:left;}
	
.right{
	float:right;}

/*
----------------------------------
		HOME CALLS - ROW 1
----------------------------------
*/
	
	
body#invite .col_call{
	width:300px;
	float:left;
	margin: 0 17px 0 0;
	font-size:13px;
	line-height:18px;}
	
body#invite .nospace{
	margin:0 !important;
	}
	
body#invite .col_call h2{
	background:#acbfb1;
	text-align:center;
	display:block;
	padding: 4px 0 3px 0;
	margin: 22px 0 12px 0;
	color:#000;
	font-size:19px;
	letter-spacing:.1em;
	text-transform:uppercase;}

body#invite .col_call p{
	padding-left: 5px;
	padding-right:5px;}
	
.line_divider{
	background: url("bg_inv_divider.png") no-repeat;
	width:935px;
	height:18px;
	clear:left;
	margin-bottom:10px;}
	
/*
----------------------------------
		HOME CALLS - ROW 2
----------------------------------
*/

body#invite .col_content{
	background:#f4f4e6;
	padding: 10px 15px 20px 15px;
	font-size:12px;
	overflow:auto;
	}
	
body#invite .col_content h3{
	font-size:20px;
	letter-spacing:.1em;
	color:#c5161b;
	text-transform:uppercase;
	display:block;
	padding:0 0 10px 0;
	margin:0;
	float:left;
	}
	
body#invite .col_content h4{
	font-size:11px;
	color:#000;
	text-transform:uppercase;
	font-weight:bold;
	margin:0;
	padding: 0;}

body#invite .col_content .col{
	width:205px;
	margin: 0 21px 0 0;
	float:left;
	}
	
body#invite .col_content .col p{
	margin-top:5px;}

body#invite .col_content .col_wrap{
	float:left;
	}
	

h3.leftspace{
	width: 462px;}
	

/*
----------------------------------
		HOME CALLS - ROW 4 LOGOS
----------------------------------
*/


body#invite .logo_wrap{
	height:49px;
	margin: 10px 0;
	}

body#invite .logo_wrap img{
	float:left;
	padding-right:7px;}
	
/*
----------------------------------
			FOOTER
----------------------------------
*/

body#invite #footer{
	background: url("bg_inv_footer.png") no-repeat top #acbfb1;
	min-height:145px;
	color:#000;
	font-size:12px;
	padding: 10px 0 0 28px;
	text-align:left;
}

body#invite #footer h3{
	font-size:20px;}

	
body#invite ul{
	padding:0;
	margin:0;
	list-style:none;}

body#invite ul li{
	text-align:left;
	line-height:22px;
	}

body#invite #footer a{
	color:#000;
	}
	
body#invite #footer a:hover{
	color:#fff;}

body#invite .col{
	float:left;}

	
body#invite #footer .left{
	margin-right:240px;}
	
	
/*
----------------------------------
			CULLEN FOOTER
----------------------------------
*/

body#invite #cullen{
	height:83px;
	background: url("bg_inv_cullen.png") no-repeat;
	margin-top:15px;
	}